h1{
  font-family: 'Neucha', cursive;
  font-size: 5rem;
}
body{
  font-family: 'Ubuntu Mono', monospace;
  background-image: url('bg.jpg');
}
div.row > div{
  background-color: rgba(226, 220, 208, .8);
}
li{
  list-style-type:none;
  border: 1px solid grey;
  padding:.5rem;
  margin-left:-20px;
  font-size: 1rem;
}
li button{
  float:right;
  margin-top:-.2rem;
  margin-left:.5rem
}

img.jeff{
  margin-left: 2rem;
}
button.del{
  background-color: #ff283d;
}
button.up, button.down {
  background-color: #6bf759;
}

button img {
  width:2rem;
  height:2rem;
}
